.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 50%;
    position: relative;
    width: 250px;
    height: 170px;
    top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain; /* ou background-size: auto; */
    background-position: center; /* opcional, para centralizar a imagem */
    background-image: url('../Image/images (5).jpeg');
  }
  
  